h1, .h-1{
  font-size: 60px;
  line-height: 94px;
  font-weight: 700;
  color: $blue;
}

h2, .h-2{
  font-size: 40px;
  line-height: 62px;
  font-weight: 700;
  color: $blue;
}

h3, .h-3{
  font-size: 28px;
  line-height: 44px;
  font-weight: 700;
  color: $blue;
}

.par{
  p{
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
    color: $blue;
  }
}